{% extends 'base.html.twig' %}

{% block title %}Liste des assistantes maternelles{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
{% for listeUser in listeUsers %}
  <div class="col-6">
            <div class="card">
                <div class="additional">
                    <div class="user-card">
                        <div class="level center">
                            Level 13
                        </div>
                        <div class="points center">
                            <a href="{{ path('profils_show', {'id': listeUser.id}) }}">détail</a>
                        </div>
                         {% if not listeUser.photoIdentite %}
                          <img src="../assets/images/profilBlanc.png" alt="" width="110" height="110" viewBox="0 0 250 250" aria-labelledby="title desc" class="center">
                          {% else %}
                          <img src="{{ asset('uploads/' ~ listeUser.photoIdentite)}}" alt="" {# width="auto" height="110"  #}{# viewBox="0 0 250 250" #} aria-labelledby="title desc" class="center profilImageListe">
                          {% endif %}
                            <defs>
                                <clipPath id="scene">
                                    <circle cx="125" cy="125" r="115"/>
                                </clipPath>
                                <clipPath id="lips">
                                    <path d="M 106,132 C 113,127 125,128 125,132 125,128 137,127 144,132 141,142  134,146  125,146  116,146 109,142 106,132 Z" />
                                </clipPath>
                            </defs>
                            <circle cx="125" cy="125" r="120" fill="rgb(0,9,65)" />
                            <g stroke="none" stroke-width="0" clip-path="url(#scene)">
                                <rect x="0" y="0" width="250" height="250" fill="#b0d2e5" />
                            </g>
                        </svg>
                    </div>
                    <div class="more-info">
                        <h1>{{listeUser.prenom}} </h1>
                        <div class="coords">
                            <span>Group Name</span>
                            <span>Joined January 2019</span>
                        </div>
                        <div class="coords">
                            <span>Position/Role</span>
                            <span>City, Country</span>
                        </div>
                        <div class="stats">
                            <div>
                                <div class="title">Awards</div>
                                <i class="fa fa-trophy"></i>
                                <div class="value">2</div>
                            </div>
                            <div>
                                <div class="title">Matches</div>
                                <i class="fa fa-gamepad"></i>
                                <div class="value">27</div>
                            </div>
                            <div>
                                <div class="title">Pals</div>
                                <i class="fa fa-group"></i>
                                <div class="value">123</div>
                            </div>
                            <div>
                                <div class="title">Coffee</div>
                                <i class="fa fa-coffee"></i>
                                <div class="value infinity">∞</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="general">
                    <h1>{{listeUser.prenom}} {{listeUser.nom}}</h1>
                    <p>{{listeUser.presentationText[:120] ~ '...' }}</p>
                    <span class="more">Mouse over the card for more info</span>
                </div>
            </div>
    </div>

   {#  <div class="col-5 listCol">
      <div class="card cardListe">
        <div class="row">
            <div class="col">
        {% if not listeUser.photoIdentite %}
            <img class="card-img-top photoListe" src="../assets/images/profilBlanc.png" alt="Card image cap">
        {% else %}
            <img class="card-img-top photoListe" src="{{ asset('uploads/' ~ listeUser.photoIdentite)}}" alt="Card image cap">
        {% endif %}
          </div>
          <div class="col">
           
              <h5 class="card-title">{{listeUser.nom}} {{listeUser.prenom}} </h5>
              <p>Place(s) disponible(s) : {{listeUser.placeDispo}} </p>
              <p>Lieu de garde : {{listeUser.villeAdresse}}</p>
              <p>Horaires : {{listeUser.horaires}} </p>
              <p>Expérience : {{listeUser.experience}} </p>
           
          </div>
        </div>
        <div class="card-body">
          <a class="btn btn-md primary border waves-effect waves-dark" href="{{ path('profils_show', {'id': listeUser.id}) }}">Voir le profil de {{listeUser.Prenom}}</a>
        </div>
      </div>
    </div> #}
{% endfor %}
  </div>
</div>
{% endblock %}
