{% extends 'base.html.twig' %}

{% block title %}Liste des assistantes maternelles{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
{% for listeUser in listeUsers %}
    <div class="col-5 listCol">
      <div class="card cardListe">
        <div class="row">
            <div class="col">
        {% if not listeUser.photoIdentite %}
            <img class="card-img-top photoListe" src="../assets/images/profilBlanc.png" alt="Card image cap">
        {% else %}
            <img class="card-img-top photoListe" src="{{ asset('uploads/' ~ listeUser.photoIdentite)}}" alt="Card image cap">
        {% endif %}
          </div>
          <div class="col">
           
              <h5 class="card-title">{{listeUser.nom}} {{listeUser.prenom}} </h5>
              <p>Place(s) disponible(s) : {{listeUser.placeDispo}} </p>
              <p>Lieu de garde : {{listeUser.villeAdresse}}</p>
              <p>Horaires : {{listeUser.horaires}} </p>
              <p>Expérience : {{listeUser.experience}} </p>
           
          </div>
        </div>
        <div class="card-body">
          <a class="btn btn-md primary border waves-effect waves-dark" href="{{ path('profils_show', {'id': listeUser.id}) }}">Voir le profil de {{listeUser.Prenom}}</a>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}
