{% extends 'base.html.twig' %}

{% block body%}

<div>  
    <img class="animate__animated animate__backOutRight logoNounou" src="{{asset("public/assets/images/nounouLogo.png")}}" class="img-fluid" alt="Responsive image">
</div>
      
<div class="container formInscription">
    <h1>Inscription</h1>
    {{ form_start(form, {'method':'POST'}) }}
    <div class="form-row">
        <div class="form-group col-md-6">
        {{form_label(form.email, 'Entrez votre mail', { 'attr': {'class': 'foo'} }) }}
        {{ form_widget(form.email, {'attr': {'class': "form-control", 'placeholder': "Mail"}}) }}
        </div>
        <div class="form-group col-md-6">
        {{form_label(form.username, 'Entrez votre nom', { 'attr': {'class': 'foo'} }) }}
        {{ form_widget(form.username, {'attr': {'class': "form-control", 'placeholder': "Nom"}}) }}
        </div>
    </div>
    <div class="form-row">
         <div class="form-group col-md-6">
        {{form_label(form.password, 'Entrez votre mot de passe', { 'attr': {'class': 'foo'} }) }}
        {{ form_widget(form.password, {'attr': {'class': "form-control", 'placeholder': "Mot de passe"}}) }}

        </div>
         <div class="form-group col-md-6">
        {{form_label(form.confirm_Password, 'Confirmez votre mot de passe', { 'attr': {'class': 'foo'} }) }}
        {{ form_widget(form.confirm_Password, {'attr': {'class': "form-control", 'placeholder': "Mot de passe"}}) }}
        </div>
    </div>
   
    <div class="buttons">
        <div class="container">
            <button type="submit" class="btn effect01">Se connecter</button>
        </div>
    </div>
</div>
</div>
    {{ form_end(form) }} 


{% endblock %}

