<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="/assets/css/index.css" rel="stylesheet">
         <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"
        />

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
 <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="assets/images/logoNounouRiorges.png" class="img-fluid" alt="Responsive image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ path('security_registration') }}">Inscription</a>
                    <a class="nav-item nav-link" href="{{ path('liste') }}">Accès à la liste</a>

                    {% if not app.user %}
                    <a class="nav-item nav-link" href="{{ path('security_login') }}">Connexion</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
                    {% endif %}
           {#          <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> #}

                    </div>
                </div>
                <img class="logoRiorges" src="assets/images/logoRiorges.png">
        </nav>

        {% block body %}
        
        {% endblock %}
</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
