{% extends 'base.html.twig' %}

{% block title %}Profils index{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des assistantes maternelles au {{ "now"|date("d/m/Y") }} </h1>

    <table class="table ">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Agrément</th>
                <th>Places disponibles au {{ "now"|date("d/m/Y") }}</th>
                <th>Tarif Horaire</th>
                <th>Tarif Entretien</th>
                <th>Experience</th>
                <th>Formation Premier Secours</th>
                <th>Bafa</th>
                <th>Formation Petite Enfance</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
            <tr>
                <td>{{ profil.Nom }}</td>
                <td>{{ profil.Prenom }}</td>
                <td>{{ profil.email }}</td>
                <td>{{ profil.NumeroRueAdresse }} {{ profil.codePostal }} {{ profil.villeAdresse }}</td>
                <td>{{ profil.telephone }}</td>
                <td>{{ profil.AgrementDate ? profil.AgrementDate|date('Y-m-d') : '' }}</td>
                <td>{{ profil.placeDispo }}</td>
                <td>{{ profil.tarifHoraire }}</td>
                <td>{{ profil.tarifEntretien }}</td>
                <td>{{ profil.experience }}</td>
                <td>{{ profil.formationPremierSecours }}</td>
                <td>{{ profil.bafa }}</td>
                <td>{{ profil.formationPetiteEnfance }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="30">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
