{% extends 'base.html.twig' %}


    
{% block title %}Profil de {{profil.Prenom}} {% endblock %}
    
  
{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Profil de {{profil.Prenom}} </h1>
        </div>
        <div class="col">
        {% if app.user %}
            {% if userId == profilId  %}
                <button type="button" class="btn btn-outline-dark btn-lg">
                    <a href="{{ path('profils_edit', {'id': profil.id}) }}">Modifier mon profil</a>
                </button>
                {{ include('profils/_delete_form.html.twig') }}
            {% endif %}
        {% endif %}
        <button type="button" class="btn btn-outline-dark btn-lg">
            <a href="{{ path('liste') }}">Retour à la liste</a>
        </button>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="profilPixContent">
            {% if not profil.photoIdentite  %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/images/profilBlanc.png" alt="Card image cap">
                </div>
            {% else %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('uploads/' ~ profil.photoIdentite) }}" />
                </div>
            {% endif %}
            </div>
        </div>
        <div class="col-7 coordonneesContent">
            <div class="nomPrenomContent">
                Nom - Prénom : {{ profil.Nom }} - {{ profil.Prenom }}
            </div>
            <div class="adresseProfil">
                Adresse :   {{ profil.NumeroRueAdresse }}<br />
                            {{ profil.complementAdresse }}<br />
                            {{ profil.codePostal }} -
                            {{ profil.villeAdresse }}
            </div>
            <div>
                Me joindre par téléphone : {{ profil.telephone }} <br />
            </div>

             <div>
                Horaires: {{ profil.horaires }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">
            <div class="presentationContent">
            Présentation :
                {{ profil.presentationText }} 
            </div>
        </div>
    </div>
    <div class="diversContent row">
        <div class="col-3">
            Date de fin d'agrément : {{ profil.AgrementDate ? profil.AgrementDate|date('d-m-Y') : '' }}
        </div>
        <div class="col-3">
            Nombre de place disponible: {{ profil.placeDispo }}
        </div>
        <div class="col-3">
            Tarif : {{ profil.tarifHoraire }} €/heure
        </div>
        <div class="col-3">
            Tarif entretien : {{ profil.tarifEntretien }} €/jour
        </div>
    </div>
     <div class="diversContent row">
        <div class="col-3">
            Formation petite enfance : {{ profil.formationPetiteEnfance }}
        </div>
        <div class="col-3">
            Formation premier secours: {{ profil.formationPremierSecours }}
        </div>
        <div class="col-3">
            BAFA : {{ profil.bafa }}
        </div>
        <div class="col-3">
            Permis de conduire : {{ profil.permisConduire }}
        </div>
    </div>
    <div class="diversContent row">
        <div class="col-3">
            Animaux : {{ profil.Animaux }}
        </div>
         <div class="col-3">
            Langues parlées : {{ profil.languesParlees }}
        </div>       
        <div class="col-3">
            Expériences : {{ profil.experience }} années
        </div>
        <div class="col-3">
            Véhiculé : {{ profil.vehicule }}
        </div>
    </div>

    <div class="carouselContentAll">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner testCar">
    <div class="carouselContent carousel-item active">
      <img class="d-block w-100" src="{{ asset('uploads/' ~ profil.photo1) }}" alt="First slide">
    </div>
    <div class="carouselContent carousel-item">
      <img class="d-block w-100" src="{{ asset('uploads/' ~ profil.photo2) }}" alt="Second slide">
    </div>
    <div class="carouselContent carousel-item">
      <img class="d-block w-100" src="{{ asset('uploads/' ~ profil.photo3) }}" alt="Third slide">
    </div>
    <div class="carouselContent carousel-item">
      <img class="d-block w-100" src="{{ asset('uploads/' ~ profil.photo4) }}" alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>

</div>

{% endblock %}
